@import "tailwindcss";

:root {
  --darkred:  #780000;
  --lightred: #C1121F;
  --darkblue: #003049;
  --softblue: #669BBC;
  --biege: #FDF0D5;
  --white: #fff;
  --text-primary: #263238;
  --text-details: #4D4D4D;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--text-primary);
}
