@import "tailwindcss";

:root {
  --darkred:  #780000;
  --lightred: #C1121F;
  --darkblue: #003049;
  --softblue: #669BBC;
  --biege: #FDF0D5;
  --white: #fff;
  --text-primary: #263238;
  --text-details: #4D4D4D;
}

.text-primary {
  color: var(--text-primary);
}

.text-details {
  color: var(--text-details);
}

.text-lightred {
  color: var(--lightred);
}

.red-dark-details{
  color: var(--darkred);
}

.bg-biege {
  background-color: var(--biege);
}

body {
  font-family: "Lato", sans-serif;
  color: var(--text-primary);
}
